{% extends 'base.html' %}
{% block content %}
<div>


    <form action='/dqc/edit_rule?nid={{ dqc_list.id }}' method="POST">
    {% csrf_token %}
        <style>
        p { height:25px; line-height:25px;}
        input {type:"text";width:250px;height:25px;maxlength:"200"}
        </style>
        <div  style="width:200px; float:left;margin-left:100px">
            <p>应用名称：*</p>
            <p>作业名称：*</p>
            <p>库名：*</p>
            <p>表名：*</p>
            <p>文件路径：*</p>
            <p>统计字段名：*</p>
            <p>报错预警：*</p>
            <p>出数时间预警(星期)：*</p>
            <p>出数时间预警(小时)：*</p>
            <p>责任人：*</p>
            <p>责任人手机号：*</p>
            <p>有效标识：*</p>
        </div>
        <div  style="width:500px; float:left">
            <p><input  name="app_name"  value="{{ dqc_list.app_name }}" /></p>
            <p><input  name="job_name"  value="{{ dqc_list.job_name }}"/></p>
            <p><input  name="db_name"  value="{{ dqc_list.db_name }}"/></p>
            <p><input  name="table_name"  value="{{ dqc_list.table_name }}"/></p>
            <p><input  name="file_dir"  value="{{ dqc_list.file_dir }}"/></p>
            <p><input  name="static_column"  value="{{ dqc_list.static_column }}"/></p>
            <p><input  name="error_alarm"  value="{{ dqc_list.error_alarm }}"/></p>
            <p><input  name="date_week"  value="{{ dqc_list.date_week }}"/></p>
            <p><input  name="date_alarm"  value="{{ dqc_list.date_alarm }}"/></p>
            <p><input  name="owner"  value="{{ dqc_list.owner }}"/></p>
            <p><input  name="mobile"  value="{{ dqc_list.mobile }}"/></p>
            <p><input  name="valid_flag"  value="{{ dqc_list.valid_flag }}"/></p>
            <p><input type="submit" class="btn btn-info" style="width:60px;height:32px" value="保存" /></p>
        </div>
    </form>

</div>
{% endblock content %}