{% extends 'base.html' %}
{% block content %}
<div>
    <form action="/dqc/add_rule" method="get">
        <div class="form-group" style="margin-left: 400px">
            <input type="submit" class="btn btn-info" value="添加规则"/>
        </div>
    </form>

    <br>
    <table class="table table-bordered table-striped mb-none" id="datatable-editable">
        <tr>
            <th>规则id</th>
            <th>应用名称</th>
{#            <th>作业名称</th>#}
            <th>库名</th>
            <th>表名</th>
{#            <th>文件路径</th>#}
{#            <th>统计字段名</th>#}
            <th>报错预警</th>
{#            <th>出数时间预警:星期</th>#}
            <th>出数时间预警:小时</th>
            <th>责任人</th>
            <th>责任人手机号</th>
            <th>有效标识</th>
            <th>操作</th>
        </tr>

        {% for dqc in dqc_list %}
        <tr>

            <td>{{ dqc.id }}</td>
            <td>{{ dqc.app_name }}</td>
{#            <td>{{ dqc.job_name }}</td>#}
            <td>{{ dqc.db_name }}</td>
            <td>{{ dqc.table_name }}</td>
{#            <td>{{ dqc.file_dir }}</td>#}
{#            <td>{{ dqc.static_column }}</td>#}
            <td>{{ dqc.error_alarm }}</td>
{#            <td>{{ dqc.date_week }}</td>#}
            <td>{{ dqc.date_alarm }}</td>
            <td>{{ dqc.owner }}</td>
            <td>{{ dqc.mobile }}</td>
            <td>{{ dqc.valid_flag }}</td>
            <td> <a href="/dqc/del_rule?nid={{ dqc.id }}">删除</a>
                |
                 <a href="/dqc/edit_rule?nid={{ dqc.id }}">编辑</a>
            </td>

        </tr>
        {% endfor %}
        </table>
</div>
{% endblock content %}